@inject IJSRuntime JSRuntime;
@page "/"

<PageTitle>Calc</PageTitle>

<style>
    .Button {
        background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        color: white;

        border: none;
    }
    .Var {
        background-image: linear-gradient(90deg, rgb(5, 39, 103) 0%, #3a0647 70%);
        color: white;
    }
</style>

<h1>🧰Calc</h1>

<div>
    <div>
        <input type="text" @bind="@var" />
        <button @onclick="@calc" class="Button">Calc</button>
    </div>
    <div>
        <p class="Var">
            Result: @result
        </p>
    </div>
</div>


@code {

    string var;
    double result;

    void calc()
    {
        result = Eval(var);
    }
    public static double Eval(string expression)
    {
        System.Data.DataTable table = new System.Data.DataTable();
        table.Columns.Add("expression", string.Empty.GetType(), expression);
        System.Data.DataRow row = table.NewRow();
        table.Rows.Add(row);
        return double.Parse((string)row["expression"]);
    }

}